.height-100 {
    height:100px;
}

.height-50 {
    height:50px;
}

.bg-light-gray {
    background-color: rgba(111, 111, 111, 0.09);
}

.underline {
    width: 100px;
    height: 2px;
    background-color: orangered;
}

.bg-black {
    background-color: black;
}

.bg-light-blue {
    background-color: #63c5ff;
}

.bg-light-green {
    background-color: rgb(181, 230, 29);
}

.newsletter {
    border-radius: 20px 0px 0px 20px !important;
}

.newsletter-button {
    border-radius: 0px 20px 20px 0px !important;
}

.underline-light-green {
    height: 2px;
    background-color: orangered;
}

.img-repeat {
    background-image: url("rep.jpg");
    background-repeat: repeat;
    height: 300px;
}

.bg-purple {
    background-color: #563d7c;
    color: white !important;
}

.single-content {
    color: #acacac;
}

.single-content > p{
    font-size: 18px !important;
}

.nav-link {
    font-size: 18px;
}

.site-name {
    font-size: 25px;
}

.tags {
    color: #acacac;
}

.tag-button {
    border-radius: 20px;
    color: #acacac;
    border-color: #acacac;
}

.indicators a:hover { 
    text-decoration: none; 
}


